---
title: A step-wise tutorial for building a packaged Chrome app
layout: page
---

I created this app with just one purpose: to learn how to create a packaged Chrome app. I needed a simple way to test the custom communication protocol of a TCP server running on a PIC32-based IoT device I was working on. There were, ofcourse, easier ways to do this but they wouldn't have been as much fun :-)
<br><br>
This application also supports sending pre-defined sequences over the network.
<br><br>
<strong>This project page contains a step-wise tutorial for building a packaged Chrome app.
<br><br>
A great tutorial for building a packaged Chrome app is available in this <a href = https://developer.chrome.com/apps/app_codelab_intro>Google Code Lab</a> and I will be referring to quite a lot -- <em>BUT</em> -- I found the example code in that code lab a little complex for a complete n00b such as myself, so in case you feel the same way, I hope you find the following tutorial useful.</strong>

<!-- <h1>List of posts</h1> -->
<dl class="posts">
  {% for post in site.posts %}
    <dt>---<br>
    <p class="authorline">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</p>
    <h3><a class="post-link" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
    </dt>
    <dd>{{ post.excerpt }}</dd><br/>
  {% endfor %}
</dl>
