---
layout: page
---

A packaged Chrome app - a simple TCP client - which can be used to test communication with a TCP server.

<br><br>I created this app with just one purpose: to learn how to create a packaged Chrome app. I needed a simple way to test the custom communication protocol of a TCP server running on a PIC32-based IoT device I was working on. There were, ofcourse, easier ways to do this but they wouldn't have been as much fun :-)

<br><br>This application also supports sending pre-defined sequences over the network.

<!-- <h1>List of posts</h1> -->
<dl class="posts">
  {% for post in site.posts %}
    <dt>---<br>
    <p class="authorline">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</p>
    <h3><a class="post-link" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
    </dt>
    <dd>{{ post.excerpt }}</dd><br/>
  {% endfor %}
</dl>
